@import "../../styles/variables";

.container{
    margin: 20px 0;
}

@media (min-width:768px){
    .container{
        .imgContainer{
            div:first-child{
                height: auto;
                width: 65%;
            }
        }
    }
}