@import "../variables";
.container {
  min-height: 90vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  .sectionOne {
    display: flex;
    flex-direction: column;
    .textOne {
      margin: 40px 16px;
      font-size: 16px;
      color: $first-color;
    }
    .magic {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 90px;
      div:first-child {
        width: 260px;
        height: 174px;
      }
      .magicText {
        position: absolute;
        top: 24px;
        left: 0;
        width: 256px;
        height: 90px;
        background-color: $second-color;
        padding: 4px 12px;
        p {
          font-size: 18px;
          font-weight: semibold;
          color: $white;
          text-align: center;
          line-height: 28px;
        }
      }
      .stars {
        position: absolute;
        div:first-child{
          width: 70px;
          height: 70px;
          left: -300px;
          top: 88px;
        }
      }
      .stars2 {
        display: none;
      }
    }
  }
  .middle {
    display: none;
  }
  .sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    .bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      top: 560px;
      height: 1200px;
      background-color: $first-color;
    }
  }
  .sectionThree {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .carouselContainer {
      display: flex;
    }
    p {
      color: $first-color;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: underline;
      color: $first-color;
      img {
        margin-left: 10px;
      }
    }
  }
  .sectionFour {
    position: relative;
    .buttonPromotion {
      position: absolute;
      right: 40px;
      top: 150px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sectionOne {
      width: 95%;
      align-items: center;
      z-index: 2;
      .textOne {
        width: 60%;
      }
      .magic {
        .stars2 {
          position: absolute;
          display: flex;
          div:first-child {
            width: 145px;
            height: 100px;
            right: 580px;
            top: 280px;
          }
        }
        .stars {
          position: absolute;
          display: flex;
          div:first-child {
            width: 100px;
            height: 96px;
            left: -550px;
            top: 460px;
          }
        }
        .magicText {
          display: flex;
          align-items: center;
          width: 300px;
          height: 150px;
          position: absolute;
          top: 350px;
          left: 50px;
        }
        div:first-child {
          width: 842px;
          height: 577px;
        }
      }
    }
    .middle {
      width: 100%;
      margin-top: 50px;
      position: relative;
      z-index: 1;
      display: flex;
      background-color: $first-color;
      p {
        width: 30%;
        color: $second-color;
        text-align: center;
        position: absolute;
        left: 480px;
        top: 80px;
        font-size: 34px;
      }
      .circleLeft {
        position: absolute;
        z-index: -1;
        left: -20px;
        top: -200px;
        div:first-child {
          width: 800px;
        }
      }
      .circleRight {
        position: absolute;
        z-index: -1;
        right: -2px;
        top: -270px;
        div:first-child {
          width: 800px;
        }
      }
    }
    .sectionTwo {
      .bg {
        top: 0;
        height: 1650px;
        background-color: $first-color;
      }
    }
    .sectionThree{
      .bannerMessage{
        background-color: $second-color;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
          color: $first-color;
        }
        p{
          color: white;
        }
      }
    }
    .sectionFour{
      position: relative;
      .buttonPromotion {
        right: 400px;
        top: 700px;
      }
      p{
        width: 40%;
        text-align: center;
        position: absolute;
        bottom: 250px;
        right: 180px;
        color: $first-color;
        font-size:36px;
        line-height: 36px;
      }
    }
  }
}

@media (min-width:1024px){
  .container{
    .sectionOne{
      .magic{
        .stars{
          div:first-child{
            top: 350px;
            left: -840px;
            
          }
        }
        .stars2{
          div:first-child{
            top: 180px;
            left: -850px;
            
          }
        }
        .magicText {
          top: 240px;
          left: 20px;
        }
      }
    }
  }
}

@media (min-width:1440px){
  .container{
    .sectionOne{
      .magic{
        .stars{
          div:first-child{
            top: 350px;
            left: -910px;
            
          }
        }
        .stars2{
          div:first-child{
            top: 160px;
            left: -950px;
            
          }
        }
        .magicText {
          top: 240px;
          left: 350px;
        }
      }
    }
  }
}