@import "../../styles/variables";
.container {
  position: relative;
  min-height: 664px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h3 {
    color: $white;
    text-align: center;
    font-size: 22px;
    width: 100%;
    padding: 0 10px;
  }
  .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .buttonArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    button {
      margin-bottom: 70px;
    }
  }
}

@media ( min-width:768px) {
  .container{
    h3{
      width: 50%;
      font-size: 34px;
      transform: translateX(650px);
    }
  }
}
