@import "../../styles/variables";

.container {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: $first-color;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $white;
    font-size: 32px;
  }
  .img {
    position: absolute;
    left: 7px;
    bottom: 0;
  }
 


}
