@import "../../styles/variables";

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $first-color;
  height: 280px;
  margin-bottom: 60px;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -35px;
    .imgContainer {
      div:first-child {
        width: 100%;
        -webkit-box-shadow: 6px 10px 17px 2px rgba(36, 106, 115, 0.46);
        -moz-box-shadow: 6px 10px 17px 2px rgba(36, 106, 115, 0.46);
        box-shadow: 6px 10px 17px 2px rgba(36, 106, 115, 0.46);
      }
    }
    .title {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $second-color;
      width: 285px;
      height: 40px;
      bottom: -10px;
      -webkit-box-shadow: 6px 10px 17px 2px rgba(36, 106, 115, 0.46);
      -moz-box-shadow: 6px 10px 17px 2px rgba(36, 106, 115, 0.46);
      box-shadow: 6px 10px 17px 2px rgba(36, 106, 115, 0.46);
      h3 {
        text-align: center;
        color: white;
      }
    }
    a {
      position: absolute;
      right: 5px;
      color: $first-color;
      bottom: -60px;
      cursor: pointer;
    }
  }
}
